# Maven
target/

# Logs
*.log

# Environment / Secrets
.env
application.properties

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/